{% filter trim | remove_extra_newlines %}

{# import all template configs #}

{%- include 'base.j2' -%}

{%- include 'services.j2' -%}

{% for line in base_chassis_configuration_context %}
{{ line }}
{% endfor %}

{%- include 'interfaces.j2' -%}

{# include 'snmp.j2' #}

{# include 'forwarding-options.j2' #}

{%- include 'protocols.j2' -%}

{# include 'routing-instances.j2' #}

{# include 'routing-options.j2' #}

{%- include 'firewall.j2' -%}

{%- include 'policy-options.j2' -%}

{# include 'bridge-domains.j2' #}

{# include 'event-options.j2' #}

{% endfilter %}